<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Relective</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'tab-logo.ico' %}"/>
</head>
<body onload="loading()">
<div id="app">
    <div id="modal" style="z-index: 10000000000000000">
        <div style="height: 100%;display: flex;align-items: center;justify-content: center;text-align: center"
             id="center_modal">
            <img src="{% static 'loadingIcon.gif' %}" style="width: 80%;max-width: 300px " id="logoloafing">
        </div>
    </div>
    <div class="bg-image-black"></div>
    <div class="bg-image"></div>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4" id="navbg">
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a style="margin: auto">
                <div style="margin: auto"><img src="{% static 'logo.gif' %}" style="width: 100%;max-width: 200px"></div>
            </a>
        </nav>
    </div>
    <form method="post" action="{% url 'set_infor_student' %}" id="myform">
        {% csrf_token %}
        <div class="container"
             style="border-radius: 20px;background-color: white;margin-top: 20vh;padding: 20px">
            <div class="row">

                <div class="col-lg-12" style="text-align: center;">
                    {% if Userinfor.img_url != "" %}
                        <img id="userimg" src="{{ Userinfor.img_url }}" style="margin: auto;border: 5px solid #3578E5">
                    {% else %}<img id="userimg" src="https://png.pngtree.com/svg/20170518/274aed119e.svg"
                                   style="margin: auto">
                    {% endif %}
                </div>
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2" id="column_label">
                                {#                    <label id="{{ form.name.id_for_label }}">ชื่อ - นามสกุล :</label>#}
                                <label>ชื่อ - นามสกุล :</label>

                            </div>
                            <div class="col-lg-4" id="column">
                                {#                    {{ form.name }}#}
                                <input class="form-control input_name" type="text" placeholder="Readonly input here…"
                                       readonly value="{{ Userinfor.name }}" id="id_name">
                            </div>
                            <div class="col-lg-2" id="column_label">
                                {#                    <label id="{{ form.email.id_for_label }}">E-Mail :</label>#}
                                <label>E-Mail :</label>

                            </div>
                            <div class="col-lg-4" id="column">
                                {#                    {{ form.email }}#}
                                <input class="form-control input_email" type="text" placeholder="Readonly input here…"
                                       readonly id="id_email" value="{{ Userinfor.email }}">
                            </div>
                            <div class="col-lg-2" id="column_label">
                                {#                    <label id="{{ form.faculty.id_for_label }}">คณะ :</label>#}
                                <label>คณะ :</label>

                            </div>
                            <div class="col-lg-10" id="column">
                                {#                    {{ form.faculty }}#}
                                <select class="form-control" v-model="selected" id="seclec" name="faculty_id">
                                    <option v-for="option in options" v-bind:value="option.value">
                                        <% option.text %>
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-2" id="column_label">
                                {#                    <label id="{{ form.faculty.id_for_label }}">คณะ :</label>#}
                                <label>สาขา :</label>

                            </div>
                            <div class="col-lg-10" id="column">
                                {#                                {{ form.faculty }}#}
                                <select class="form-control" id="seclec" name="major_id"
                                        v-for="i in major[selected]" v-model="major_sec">
                                    <option v-for="options in i" v-bind:value="options.value">
                                        <% options.text %>
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-2" id="column_label">
                                {#                    <label id="{{ form.email.id_for_label }}">E-Mail :</label>#}
                                <label>ชั้นปี :</label>

                            </div>
                            <div class="col-lg-4" id="column">
                                {#                    {{ form.email }}#}
                                <input class="form-control input_email" type="text" placeholder="Readonly input here…"
                                       readonly id="id_email" value="{{ Userinfor.year_id }}">
                            </div>
                            <div class="col-lg-12" style="text-align: center">
                                <button type="button" class="btn btn-primary" @click="submitting">ถัดไป</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer style="position: absolute;width: 100%;bottom: 0;z-index: 10;max-height: 5%;background-color: #FA7921;text-align: center;color: white;padding: 0">
        <h6 style="margin: auto">© IT KMITL</h6>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["<%", "%>"],
        data: {
            selected: 0,
            major_sec: 0,
            options: [
                {text: 'กรุณาเลือกคณะ', value: 0},
                {text: 'วิศวกรรมศาสตร์', value: 1},
                {text: 'สถาปัตยกรรมศาสตร์', value: 2},
                {text: 'ครุศาสตร์อุตสาหกรรมและเทคโนโลยี', value: 3},
                {text: 'เทคโนโลยีการเกษตร', value: 4},
                {text: 'วิทยาศาสตร์', value: 5},
                {text: 'เทคโนโลยีสารสนเทศ', value: 7},
                {text: 'อุตสาหกรรมเกษตร', value: 8},
                {text: 'การบริหารและจัดการ', value: 10},
                {text: 'วิทยาลัยนาโนเทคโนโลยีพระจอมเกล้าลาดกระบัง', value: 11},
                {text: 'วิทยาลัยนวัตกรรมการผลิตขั้นสูง', value: 12},
                {text: 'วิทยาลัยนานาชาติ', value: 13},
                {text: 'ศิลปศาสตร์', value: 14},
                {text: 'วิทยาลัยอุตสาหกรรมการบินนานาชาติ', value: 15},
                {text: 'แพทย์ศาสตร์', value: 17},
                {text: 'วิทยาลัยวิศวกรรมสังคีต', value: 19},
            ],
            major: [
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    engineering: [
                        {text: 'wdwd', value: 1}
                    ]
                },
                {
                    information_technology: [
                        {text: 'กรุณาเลือกสาขา', value: 0},
                        {text: 'เทคโนโลยีสารสนเทศ', value: 570701},
                        {text: 'วิทยาการข้อมูลและการวิเคราะห์เชิงธุรกิจ', value: 570702},
                        {text: 'เทคโนโลยีสารสนเทศทางธุรกิจ (นานาชาติ)', value: 570703},

                    ]
                }
            ]
        },
        methods: {
            submitting() {
                console.log("test");
                if (this.selected == 0 || this.major_sec == 0) {
                    alert("กรุณากรอกข้อมูลให้ถูกต้อง")
                } else {
                    document.getElementById('myform').submit();
                }
            }
        }
    })

</script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script src="{% static 'action.js' %}"></script>

</html>
<style>
    body {
        font-size: 20px;
    }

    .input_name, .input_email {
        width: 90%;
        border-radius: 5px;
        border: 1px solid #3578E5;
    }

    #column {
        text-align: left;
        margin-top: 10px;
    }

    #column_label {
        text-align: left;
        margin-top: 15px
    }

    #seclec {
        width: 97%;
        background: linear-gradient(90deg, #3578E5, #083D77);
        color: white;
        border-radius: 5px;
    }

    @media (max-width: 991px) {
        #column, #column_label {
            text-align: center;
        }
    }

</style>
