<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Relective</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'tab-logo.ico' %}"/>
</head>
<body onload="loading()">
<div id="app">
    <div id="modal" style="z-index: 10000000000000000">
        <div style="height: 100%;display: flex;align-items: center;justify-content: center;text-align: center"
             id="center_modal">
            <img src="{% static 'loadingIcon.gif' %}" style="width: 80%;max-width: 300px " id="logoloafing">
        </div>
    </div>
    <div class="bg-image-black"></div>
    <div class="bg-image"></div>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4" id="navbg">
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <a style="margin: auto">
                <div style="margin: auto"><img src="{% static 'logo.gif' %}" style="width: 100%;max-width: 200px"></div>
            </a>
        </nav>
    </div>
    <form method="POST" action="{% url 'update_infor_student' %}" id="myform">
        {% csrf_token %}
        <div class="container-fluid"
             style="border-radius: 20px;background-color: white;margin-top: 10px;padding: 20px;width: 80%;max-height: 90vh;overflow-y: scroll">
            <div class="row">
                {% for i in major_list %}
                    {% for j in subject_type %}
                        {% if i.major_id == j.id %}
                            <div class="col-lg-6 sm-12">
                                <div class="card" style="border: transparent">
                                    <div class="card-header"
                                         style="background: linear-gradient(90deg,#083D77,#3578E5,white);color: white;">
                                        {{ j.name }}
                                    </div>
                                    <div class="card-body">
                                        <select class="custom-select custom-select-lg mb-3" name="{{ j.id }}" style="max-height: 50px">

                                            <option value="0" selected>Open this select menu</option>
                                            {% for k in subject_all %}
                                                {% if k.categories.id == j.id %}
                                            <option value="{{ k.id }}">{{ k.id }} | {{ k.name_th }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <div class="col-sm-12" style="text-align: center">
                <button style="margin: auto" @click="submitting" type="button" class="btn btn-primary">ยืนยัน</button>
            </div>


            </div>
        </div>
    </form>
    <footer style="position: absolute;width: 100%;bottom: 0;z-index: 10;max-height: 5%;background-color: #FA7921;text-align: center;color: white;padding: 0">
        <h6 style="margin: auto">© IT KMITL</h6>
    </footer>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        delimiters: ["<%", "%>"],
        data: {
            num: -1
        },
        methods:{
            submitting(){
                document.getElementById('myform').submit();
            },

        },
        mounted:{
            counter(){
                this.num += 1;
                return this.num;
            }
        }
    })

</script>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>
<script src="{% static 'action.js' %}"></script>

</html>
<style>
    body {
        font-size: 20px;
    }

    .input_name, .input_email {
        width: 90%;
        border-radius: 5px;
        border: 1px solid #3578E5;
    }
    #column {
        text-align: left;
        margin-top: 10px;
    }

    #column_label {
        text-align: left;
        margin-top: 15px
    }

    #seclec {
        width: 97%;
        background: linear-gradient(90deg, #3578E5, #083D77);
        color: white;
        border-radius: 5px;
    }
    select{
        -webkit-appearance: menulist-button;
        max-height: 50px;
    }

    @media (max-width: 991px) {
        #column, #column_label {
            text-align: center;
        }
    }

</style>
