<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'tab-logo.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<div id="app">
    <div class="bg-image-black"></div>
    <div class="bg-image"></div>
    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent"
                    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{% url 'mainpage_student' %}">
                <div style="margin: auto"><img src="{% static 'logo.gif' %}" style="width: 100%;max-width: 200px"></div>
            </a>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item" type="button">แก้ไขข้อมูลส่วนตัว</button>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'index' %}">
                        <button class="dropdown-item" type="button">ลงชื่อออก</button>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    {#<div style="bottom: 0; background-color: red;width: 100%">#}
    {#  <div class="h-25 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 25%</div>#}
    {#  <div class="h-50 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 50%</div>#}
    {#  <div class="h-75 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 75%</div>#}
    {#  <div class="h-100 d-inline-block" style="width: 120px; background-color: rgba(0,0,255,.1)">Height 100%</div>#}
    {#</div>#}
    <div class="container-fluid" id="contai" style="height: 95vh;overflow-y: scroll;">
        <div class="row" id="rowcon">
            <div class="col-sm-12" style="margin-top: 10px">
                <img src="{{ user.img_url }}" style="border-radius: 50%;max-width: 200px">
            </div>
            <div class="col-sm-12">
                <hr style="background-color: white">
            </div>
            <div class="col-sm-12" style="padding: 30px;padding-top: 15px">
                <div class="container-fluid"
                     style="background-color: white;border-radius: 20px;color: black;margin-bottom: 20px;padding-top: 10px">
                    <div class="row" style="margin-bottom: 20px">
                        <div class="col-sm-3" style="">
                            <h3>ชื่อ - นามสกุล</h3>
                        </div>
                        <div class="col-sm-3" style="">
                            <h3>คณะ</h3>
                        </div>
                        <div class="col-sm-3" style="">
                            <h3>สาขา</h3>
                        </div>
                        <div class="col-sm-3" style="">
                            <h3>ชั้นปี</h3>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        <div class="col-sm-3" style="">
                            <h5>{{ user.name }}</h5>
                        </div>
                        <div class="col-sm-3" style="">
                            <h5>{{ user.faculty.name }}</h5>
                        </div>
                        <div class="col-sm-3" style="">
                            <h5>{{ user.major.name }}</h5>
                        </div>
                        <div class="col-sm-3" style="">
                            <h5>{{ user.year_id }}</h5>
                        </div>
                        <div class="col-sm-12">
                            <hr>
                        </div>
                        {% for i in subject_req %}
                            <div class="col-sm-4" style="">

                                {{ i.subject_type.name }}

                                {% if i.status == True %}
                                    <select class="custom-select custom-select-lg mb-3" name="{{ i.id }}"
                                            style="max-height: 50px">

                                        <option value="0" selected>เลือกวิชาที่เคยเรียนมาแล้ว</option>
                                        {% for k in subject_all %}
                                            {% if k.categories.id == i.subject_type.id %}
                                                <option value="{{ k.id }}">{{ k.id }} | {{ k.name_th }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% endif %}
                                {% if i.status == False %}
                                    <select class="custom-select custom-select-lg mb-3" name="{{ i.id }}"
                                            style="max-height: 50px" disabled>

                                        <option value="0" selected>เลือกวิชาที่เคยเรียนมาแล้ว</option>
                                        {% for k in subject_all %}
                                            {% if k.categories.id == i.subject_type.id %}
                                                <option value="{{ k.id }}">{{ k.id }} | {{ k.name_th }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <hr>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="col-sm-12" style="margin-bottom: 10px">
                            <button type="button" class="btn btn-primary" style="width: 100%">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <footer style="position: absolute;width: 100%;bottom: 0;z-index: 10;max-height: 5%;background-color: #3578E5;text-align: center;color: white;padding: 0;opacity: 0.4">
        <h6 style="margin: auto">© IT KMITL</h6>
    </footer>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            state: 0,
        }, methods: {},
        delimiters: ["<%", "%>"],

    });

    function showing() {
        document.getElementById('status').style.display = "block";
    }

    function logOut() {
        location.href = "{% url 'logout' %}"
    }

</script>
<style>
    h3 {
        margin-bottom: 0;
    }
</style>